@using System.Collections
@using System.Collections.Specialized

@model OrderedDictionary

<html>
    <head>
        <title>Slackturnus</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron">
            @foreach (DictionaryEntry keyItem in Model)
            {
                <div>@keyItem.Key : @keyItem.Value</div>
            }
        </div>
    </body>
</html>
