@model System.Collections.Specialized.OrderedDictionary

<html>
    <head>
        <title>Slackturnus</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron">
            @Model.GetType().ToString()
        </div>
    </body>
</html>
