@using System.Collections

@model IEnumerable<DictionaryEntry>

<html>
    <head>
        <title>Slackturnus</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="jumbotron">
            @foreach (DictionaryEntry dictionaryEntry in Model)
            {
                <div>@dictionaryEntry.Key</div>
            }
            <input type="button" value="Næste" onclick="location.href='@Url.Action("Next", "Home" )'" />
            <input type="button" value="Spring over" onclick="location.href='@Url.Action("Skip", "Home" )'" />
        </div>
    </body>
</html>
